* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background-del: hsl(225, 21%, 49%);
  --key-shadow-del: hsl(224, 28%, 35%);
  --key-hover-del: hsl(224, 51%, 76%);
  --toggle: hsl(6, 63%, 50%);
  --toggle-hover: hsl(6, 93%, 67%);
  --key-background-equal: hsl(6, 63%, 50%);
  --key-shadow-equal: hsl(6, 70%, 34%);
  --key-hover-equal: hsl(6, 93%, 67%);
  --key-background-btn: hsl(30, 25%, 89%);
  --key-shadow-btn: hsl(28, 16%, 65%);
  --key-hover-btn: hsl(0, 0%, 100%);
  --key-color: hsl(221, 14%, 31%);
  --white: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
}

:root.themeTwo {
  --body-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background-del: hsl(185, 42%, 37%);
  --key-shadow-del: hsl(185, 58%, 25%);
  --key-hover-del: hsl(185, 41%, 56%);
  --toggle: hsl(25, 98%, 40%);
  --toggle-hover: hsl(25, 100%, 61%);
  --key-background-equal: hsl(25, 98%, 40%);
  --key-shadow-equal: hsl(25, 99%, 27%);
  --key-hover-equal: hsl(25, 100%, 61%);
  --key-background-btn: hsl(45, 7%, 89%);
  --key-shadow-btn: hsl(35, 11%, 61%);
  --key-hover-btn: hsl(0, 0%, 100%);
  --key-color: hsl(60, 10%, 19%);
  --white: hsl(0, 0%, 100%);
  --input-color: hsl(60, 10%, 19%);
}

:root.themeThree {
  --body-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --key-background-del: hsl(281, 89%, 26%);
  --key-shadow-del: hsl(285, 91%, 52%);
  --key-hover-del: hsl(281, 55%, 44%);
  --toggle: hsl(176, 100%, 44%);
  --toggle-hover: hsl(177, 100%, 79%);
  --key-background-equal: hsl(176, 100%, 44%);
  --key-shadow-equal: hsl(177, 92%, 70%);
  --key-hover-equal: hsl(177, 100%, 79%);
  --key-background-btn: hsl(268, 47%, 21%);
  --key-shadow-btn: hsl(290, 70%, 36%);
  --key-hover-btn: hsl(268, 54%, 44%);
  --key-color: hsl(52, 100%, 62%);
  --equal-blue: hsl(198, 20%, 13%);
  --white: hsl(0, 0%, 100%);
  --input-color: hsl(52, 100%, 62%);
}

html {
  font-size: 10px;
  transition: all 0.3s ease;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: var(--body-background);
  color: var(--white);
}

button {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

input {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

input:focus, button:focus {
  overflow: none;
}

#calculator {
  display: grid;
  place-items: center;
  height: 100vh;
}
#calculator .calculator {
  width: 327px;
  margin: 20px 0;
  padding: 0 5px;
  transition: all 0.2s linear;
}
@media (min-width: 576px) {
  #calculator .calculator {
    width: 540px;
  }
}
#calculator .calculator .calculator-wrapper .calculator-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
#calculator .calculator .calculator-wrapper .calculator-heading h1 {
  padding-left: 8px;
  color: var(--input-color);
}
#calculator .calculator .calculator-wrapper .calculator-heading .theme .range-input .steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 70px;
  padding: 0 10px;
  margin-bottom: 3px;
  color: var(--input-color);
}
#calculator .calculator .calculator-wrapper .calculator-heading .theme .range-input .steps span {
  font-size: 1.2rem;
  text-align: center;
}
#calculator .calculator .calculator-wrapper .calculator-heading .theme .range-input .theme-input {
  position: relative;
  background-color: var(--toggle-background);
  height: 26px;
  border-radius: 20px;
  cursor: pointer;
}
#calculator .calculator .calculator-wrapper .calculator-heading .theme .range-input .theme-input .circle {
  display: block;
  position: absolute;
  top: 5px;
  transform: translateX(5px);
  z-index: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--toggle);
  transition: all 0.3s ease;
}
#calculator .calculator .calculator-wrapper .calculator-heading .theme .range-input .theme-input .circle:hover {
  background-color: var(--toggle-hover);
}
#calculator .calculator .calculator-wrapper .calculator-heading .theme .range-input .theme-input::before {
  content: "THEME";
  position: absolute;
  top: 50%;
  left: -68px;
  transform: translateY(-50%);
  color: var(--input-color);
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}
#calculator .calculator .calculator-wrapper .calculator-heading .theme .range-input .theme-input .theme-buttons {
  width: 100%;
  display: flex;
  height: 100%;
}
#calculator .calculator .calculator-wrapper .calculator-heading .theme .range-input .theme-input .theme-buttons .theme {
  border: none;
  background-color: transparent;
  width: 33.3333%;
  cursor: pointer;
}
#calculator .calculator .calculator-wrapper .calculator-input {
  margin-bottom: 23px;
  height: 130px;
}
#calculator .calculator .calculator-wrapper .calculator-input input {
  height: 100%;
  width: 100%;
  padding: 30px;
  text-align: right;
  font-size: 6rem;
  color: var(--input-color);
  background-color: var(--screen-background);
  border: none;
  border-radius: 10px;
}
#calculator .calculator .calculator-wrapper .calculator-keys {
  width: 100%;
  height: 420px;
  border-radius: 10px;
  padding: 24px;
  background-color: var(--keypad-background);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 13px;
}
@media (min-width: 576px) {
  #calculator .calculator .calculator-wrapper .calculator-keys {
    height: 480px;
    padding: 30px;
    grid-gap: 25px;
  }
}
#calculator .calculator .calculator-wrapper .calculator-keys button {
  height: 60px;
  font-size: 3.2rem;
  border: none;
  border-radius: 5px;
  color: var(--key-color);
  text-align: center;
  background-color: var(--key-background-btn);
  box-shadow: 0px 4px var(--key-shadow-btn);
  transition: background-color 0.1s linear;
  cursor: pointer;
}
#calculator .calculator .calculator-wrapper .calculator-keys button:hover {
  background-color: var(--key-hover-btn);
}
#calculator .calculator .calculator-wrapper .calculator-keys button.button-hover {
  background-color: var(--key-hover-btn);
}
@media (min-width: 576px) {
  #calculator .calculator .calculator-wrapper .calculator-keys button {
    border-radius: 10px;
  }
}
#calculator .calculator .calculator-wrapper .calculator-keys button.delete {
  color: var(--white);
  background-color: var(--key-background-del);
  box-shadow: 0px 4px var(--key-shadow-del);
  transition: background-color 0.1s linear;
  font-size: 2.8rem;
}
@media (min-width: 576px) {
  #calculator .calculator .calculator-wrapper .calculator-keys button.delete {
    font-size: 3.2rem;
  }
}
#calculator .calculator .calculator-wrapper .calculator-keys button.delete:hover {
  background-color: var(--key-hover-del);
}
#calculator .calculator .calculator-wrapper .calculator-keys button.delete.delete-hover {
  background-color: var(--key-hover-del);
}
#calculator .calculator .calculator-wrapper .calculator-keys button.reset {
  color: var(--white);
  background-color: var(--key-background-del);
  box-shadow: 0px 4px var(--key-shadow-del);
  grid-column: 1/span 2;
  transition: background-color 0.1s linear;
  font-size: 2.8rem;
}
@media (min-width: 576px) {
  #calculator .calculator .calculator-wrapper .calculator-keys button.reset {
    font-size: 3.2rem;
  }
}
#calculator .calculator .calculator-wrapper .calculator-keys button.reset:hover {
  background-color: var(--key-hover-del);
}
#calculator .calculator .calculator-wrapper .calculator-keys button.reset.reset-hover {
  background-color: var(--key-hover-del);
}
#calculator .calculator .calculator-wrapper .calculator-keys button.equal-sign {
  color: var(--white);
  background-color: var(--key-background-equal);
  box-shadow: 0px 4px var(--key-shadow-equal);
  grid-column: 3/span 2;
  transition: background-color 0.1s linear;
}
#calculator .calculator .calculator-wrapper .calculator-keys button.equal-sign:hover {
  background-color: var(--key-hover-equal);
}
#calculator .calculator .calculator-wrapper .calculator-keys button.equal-sign.equal-hover {
  background-color: var(--key-hover-equal);
}/*# sourceMappingURL=style.css.map */